In [ ]:
#23
string = "홀짝홀짝홀짝"
print(string[::2])
print(string[1::2])

In [ ]:
string = "PYTHON"
print(string[::-1])

In [ ]:
phone_number = "010-1111-2222"
print(phone_number.replace("-", ""))

In [ ]:
#27
url = "https://sharebook.kr"
print(url[-2:])

In [ ]:
lang = 'python'
lang[0] ='p'
print(lang)

In [ ]:
string = 'abcdfe2a354a32a'
string.replace('a', 'A')

In [ ]:
string = 'abcd'
string.replace('b', 'B')
print(string)

In [ ]:
movie_rank = ["닥터스트레인지", "스플릿", "럭키"]

In [ ]:
movie_rank.append("배트맨")
print(movie_rank)

In [ ]:
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

In [ ]:
del movie_rank[3]
print(movie_rank)

In [ ]:
#45
movie_rank.remove.('스플릿', '배트맨')

In [ ]:
del movie_rank[2:]
print(movie_rank)

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))

In [ ]:
nums = [1, 2, 3, 4, 5]
sum(nums)

In [ ]:
#49
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

In [ ]:
nums = [1, 2 ,3, 4, 5]
sum(nums)/len(nums)

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1::])

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [ ]:
print(nums[1::2])

In [ ]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
del interest[1]
print(interest)

In [8]:
#57
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
' '.join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [ ]:
print('\n'.join(interest))

In [7]:
string = "삼성전자/LG전자/Naver"
interest = [string[0:4], string[5:9]]
print(interest)

['삼성전자', 'LG전자']

In [9]:
interest = string.split('/')

In [10]:
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']
interest_1 = interest_0
interest_1[0] = 'Naver'
print(interest_0)

['Naver', 'LG전자', 'SK Hynix']

In [21]:
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']
interest_1 = interest_0
interest_1[0] = 'Naver'
print(interest_0)

['Naver', 'LG전자', 'SK Hynix']

In [12]:
my_variable = ()

In [22]:
t = (1, 2, 3)
t[0] = 'a'
#튜플 값은 못바꾸나보지

TypeError: 'tuple' object does not support item assignment

In [36]:
my_variable = (1, )
type(my_variable)

tuple

In [25]:
t = 1, 2, 3, 4
type(t)

tuple

In [38]:
t = ('a', 'b', 'c')

t = (t[0].upper(), t[1], t[2])
t

('A', 'b', 'c')

In [30]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [32]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [33]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a + b + c)

6