## D01 WORKSHOP

**문제 0**
- 1월부터 12월까지 다음과 같은 형태로 달력이 출력되도록 코드를 작성하세요.
```bash
1 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
2 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
```

In [124]:
# 정답

for i in range(1, 13):
    print(f"\n{i}월 \n일 월 화 수 목 금 토")
    if i in [1, 3, 5, 7, 8, 10, 12]:
        for j in range(1,32):
            print(j, end=' ')
            if j%7 == 0: 
                print()
            
    elif i == 2:
        for o in range(1, 29):
            print(o, end=' ')
            if o%7 == 0: 
                print()
    else:
        for p in range(1, 31):
            print(p, end=' ')
            if p % 7 == 0: 
                print()
    print(end = '\n')

1월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

2월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28


3월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

4월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

5월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

6월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

7월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

8월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

9월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

10월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

11월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

12월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [123]:
calender = {
            1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30,
            7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31
            }
weeks = ['일', '월', '화', '수', '목', '금', '토']

for month, count_day in calender.items():
    count = 0
    print(month, '월')
    for day in weeks:
        print(day, end=" ")
    print()
    
    for i in range(1, count_day + 1):
        print(i, end=' ')
        count += 1
        if count == 7:
            print()
            count = 0
    print(end='\n\n')

1 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

2 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28


3 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

4 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

5 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

6 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

7 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

8 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

9 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

10 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

11 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

12 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

**문제 1**
- 두 개의 정수 n과 m이 주어집니다. 반복문을 사용하지 않고 별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 출력해보세요.

In [129]:
# 문제
n = 5
m = 9

In [130]:
# 정답
print(("*" * n + "\n") * m)

*****
*****
*****
*****
*****
*****
*****
*****
*****

**문제2**
- 다음 딕셔너리에서 평균 점수를 출력하시오.

In [12]:
# 문제
student = {'python': 80, 'algorithm': 99, 'django': 89, 'flask': 83}

In [131]:
# 정답
score = student.values()
plus_sum = 0
print(score)

for plus in score:
    plus_sum += plus
print(plus_sum/len(score))

dict_values([80, 99, 89, 83])
87.75

In [132]:
# average = 값들의 함 / 요소 갯 수
average = sum(student.values())/len(student)
print(average)

87.75

**문제3**
- 다음은 학생들의 혈액형(A, B, AB, O)에 대한 데이터이다. for문을 이용하여 각 혈액형 별 학생수의 합계를 구하시오.

In [56]:
# 문제
blood_types = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

In [133]:
# 정답

a_count = 0
b_count = 0
ab_count = 0
o_count = 0

for blood in blood_types:
    if blood == 'A':
        a_count += 1
    elif blood == 'B':
        b_count += 1
    elif blood == 'O':
        o_count += 1
    elif blood == 'AB':
        ab_count += 1

print(f"A형은 {a_count}명 입니다")
print(f"B형은 {b_count}명 입니다")
print(f"O형은 {o_count}명 입니다")
print(f"AB형은 {ab_count}명 입니다")

A형은 3명 입니다
B형은 3명 입니다
O형은 3명 입니다
AB형은 3명 입니다

In [134]:
result = {}

for blood_type in blood_types:
    if blood_type in result:
        result[blood_type] += 1
    else:
        result[blood_type] = 1
print(result)

{'A': 3, 'B': 3, 'O': 3, 'AB': 3}