- 001
화면에 Hello World 문자열을 출력하라.

In [2]:
print("Hello World")

Hello World

- 002
- 화면에 Mary's cosmetics을 출력하라. (중간에 '가 있음에 주의.)

In [3]:
print("Mary's cosmetics")

Mary's cosmetics

- 003
화면에 아래 문장을 출력하라. (중간에 "가 있음에 주의.)
신씨가 소리질렀다. "도둑이야".

In [5]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

-  004
- 화면에 "C:\Windows"를 출력하라.

In [6]:
print('"C:\\Windows"')

"C:\Windows"

- 005
다음 코드를 실행해보고 \t와 \n의 역할을 설명하라.

띄어쓰기 4번, 줄바꾸기

- 006
print 함수에 두 개의 단어를 입력한 예제이다. 아래 코드의 출력 결과를 예상하라.

print ("오늘은", "일요일")

오늘은
일요일

- 007
print() 함수를 사용하여 다음과 같이 출력하라.
naver;kakao;sk;samsung

In [13]:
print('naver;kakao;samsung')

naver;kakao;samsung

- 008
print() 함수를 사용하여 다음과 같이 출력하라.

naver/kakao/sk/samsung

In [9]:
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

- 009
다음 코드를 수정하여 줄바꿈이 없이 출력되도록 하라. (힌트: end='') print 함수는 두 번 사용한다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용된다.

print("first");print("second")

In [15]:
print("first");print("second")

first
second

In [14]:
print("first", end = ' ')
print("second")

first second

- 010
string 문자열의 길이를 구하여라.

string = "dk2jd923i1jdk2jd93jfd92jd918943jfd8923"

In [16]:
string = "dk2jd923i1jdk2jd93jfd92jd918943jfd8923"
len(string)

38

In [17]:
a = "3"
b = "4"
print(a + b)

34

In [22]:
s = "hello"
t = "python"
print(f'{s}! {t}')

hello! python

In [23]:
print("Hi" * 3)

HiHiHi

In [24]:
print('-'*80)

--------------------------------------------------------------------------------

In [35]:
t1 = 'python'
t2 = 'java'
print(f'{t1} {t2} ' * 4)

python java python java python java python java

- 016
LG전자 주식을 10주 보유하고 있습니다. 금일 종가 20,000원일 경우 총 평가 금액을 화면에 출력하라.

In [42]:
print(10 * 20000)

200000

In [38]:
2+2*3

8

In [39]:
a = "132"
print(type(a))

<class 'str'>

In [40]:
num_str = "720"
int(num_str)

720

In [41]:
num = 100
str(num)

'100'

In [44]:
lang = 'python'
print(lang[0], lang[2])

p t

In [50]:
#22번
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [53]:
string = "홀짝홀짝홀짝"
print(string[2])

TypeError: string indices must be integers